.Book-review {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background-color: rgba(92, 84, 84, 0.39);

  border-radius: 7%;

  align-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Book-add-rev {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: stretch;
}
